body{
    background-color: black;
}

.logo{
height: 50px;

}


header{
    padding: 20px;
    margin: 10px;
    border-bottom: 2px solid #DCD327;
    font-family: fantasy;
    
    
}
a{
    text-decoration: none;
    color: white;
    margin: 20px;
    
}
.boton{
 display: block;   
 background-color: #DCD327;
 width: 40px;
 height: 30px;
 text-align: center;
 padding: 10px 20px;
 position: relative;

}
