body{
    background-color: black;
}

.logo{
height: 50px;
}


header{
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid #DCD327;
    font-family: fantasy;
    
}
a{
    
    text-decoration: none;
    color: white;
    margin: 5px;
}