:root {
  --color-negro: #0c0c0c;        
  --color-text: #ffffff;     
  --color-primario: #e6c62f;   
  --color-hover: #f1d94b;    
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-negro);
}

header {

 margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  
  background-color: var(--color-negro);
  border-bottom: 1px solid var(--color-primario);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  padding: 15px 50px;
  
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
}

.logo .nombre {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-primario);
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 14px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: var(--color-primario);
}

.boton {
  background-color: var(--color-primario);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: var(--color-hover);
}
body{
  height: 1000000px;
}